<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mvvmsign.Properties.Settings.SignConnectionString"
            connectionString="Data Source=DESKTOP-TKOPMES\SQLEXPRESS;Initial Catalog=Sign;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>